<div class="navbar sticky-top navbar-light bg-white border-bottom mx-5 d-flex justify-content-center">
  <h1><%= @list.name.capitalize %></h1>
</div>
<div class="container d-flex align-items-center">
  <a>
    <%= link_to "New List", new_list_path %>
  </a>
</div>
<div class="container d-flex align-items-center">
  <a>
    <%= link_to "Back to Lists", lists_path(@list) %>
  </a>
</div>
<div class="container d-flex align-items-center">
  <a>
    <%= link_to 'Back to Movies', movie_path %>
  </a>
</div>
<div class="container d-flex justify-content-evenly m-5">
  <div class="container row align-items-center justify-content-center col-6 d-flex flex-wrap">
    <%= simple_form_for (@list) do |f| %>
      <%= f.input :name %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
