<h1>Bookmarks</h1>

<ul>
  <% Bookmark.all.each do |bookmark| %>
    <li><%= bookmark.id %>
        <%= bookmark.comment %>
        <%= bookmark.comment %></li>
  <% end %>

  <%= link_to "New bookmark", new_list_bookmark_path %>
  <%= link_to 'Back to Movies', movies_path %>
</ul>
